<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscripción</title>

    <link rel="stylesheet" th:href="@{/css/inscripcion.css}">
</head>

<body>

<form action="/inscripciones/guardar" method="post">

<div class="inscripcion-card">
    <h2>Registrar Inscripción</h2>

    <!-- ID Estudiante -->
    <input type="hidden" name="idEstudiante" th:value="${idEstudiante}">

    <label>Curso</label>
    <select name="idCurso" required>
        <option value="">Seleccione un curso</option>
        <option th:each="curso : ${listaCursos}"
                th:value="${curso.id}"
                th:text="${curso.nombre}">
        </option>
    </select>

    <label>Estado inscripción</label>
    <select name="idEstado" required>
        <option value="">Seleccione un estado</option>
        <option th:each="estado : ${listaEstados}"
                th:value="${estado.id}"
                th:text="${estado.nombre}">
        </option>
    </select>

    <button type="submit">Guardar Inscripción</button>
</div>

</form>

</body>
</html>
